<h1>Signup!</h1>

<%= form_for :user, url: '/users' do |f| %>

  <div class="form-group">
    <label for="a">Name:</label>
    <%= f.text_field :name, class:"form-control"%>
  </div>
  <div class="form-group">
    <label for="a">Email:</label>
    <%= f.text_field :email, class:"form-control"%>
  </div>

  <div class="form-group col-6">
    <label for="a">Password:</label>
    <%= f.text_field :password, class:"form-control"%>
  </div>
  <div class="form-group col-6">
    <label for="a">Password Confirmation:</label>
    <%= f.password_field :password_confirmation, class:"form-control"%>
  </div>

  <%= f.submit "Submit", class:"btn btn-primary" %>

<% end %>